<h1>New division</h1>

<form action="/wizard_divide" method="get"> 
  <label for="form_first_number">
    Divide this:
  </label>
  <input id="form_first_number" name="first_num" type="text"> 

  <label for="form_sec_number">
    by this:
  </label>
  <input id="form_sec_number" name="second_num" type="text">

  <button type="submit"> 
    Divide!
  </button>
</form>
