<h1>New multiplication</h1>

<form action="/wizard_multiply" method="get"> 
  <label for="form_first_number">
    Multiply this:
  </label>
  <input id="form_first_number" name="first_num" type="text">

  <label for="form_sec_number">
    by this:
  </label>
  <input id="form_sec_number" name="second_num" type="text"> 

  <button type="submit"> 
    Multiply!
  </button>
</form>
